DB_FILE_NAME="file:local.db"

DISCORD_CLIENT_ID=""

DISCORD_TOKEN=""

SERVER_ID=""
PRIMARY_INVITE_SUFFIX=""
HONEYPOT_CHANNEL_ID=""
MODMAIL_CATEGORY_ID=""
MODMAIL_LOG_ID=""
MOD_ROLE_ID=""
OWNER_ID=""
UNVERIFIED_ROLE_ID=""
MEMBER_ROLE_ID=""
WELCOME_CHANNEL_ID=""
RULES_CHANNEL_ID=""